<%layout('layouts/boilerplate.ejs')%>
<link rel="stylesheet" href="/stylesheets/bg.css">
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">ERROR-<%=err.message%></h4>
            <!-- <p class="alert-content" style="font-size: 0.8em;"><%=err.stack%></p> -->
        </div>
    </div>
</div>
